@import url("reset.css"); 

.title{
    color: blue;
}

.item2 *{
    color: lawngreen;
}

.item2__text{
    color: orangered;
}

.content{
    color: brown;
}

.item1 p{
    color: rgb(190, 11, 152);
}

#three{
    color: yellowgreen;
}

.item3__text{
    color: blueviolet;
}


.item4__list{
    color: palevioletred;
}

.item4>p{
    color: #999 ;
}

.text+p,
.item3__text~p{
    color: orange;
}

[class*= "__title"]{
    color: green ;
}

.item4__list__title{
    color: royalblue;
}