
@import url("reset.css"); 

header{
    font-family: Poppins;
    color: #E5E5E5;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    background: url(../img/photo1.png)  #212529  center / cover no-repeat;;
    min-height: 600px;
    border-radius: 0px 5px 5px 0px;
}

.text{
    padding: 330px 0 0 100px ;
}

h1{
    display: block;
    margin: 15px 0 ;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #F8F9FA;

}

main{
    padding: 100px 15px;
    background: #E6E6E6;
    color: #637381;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.94;
    
}

.list{
    max-width: 1107px;
    margin: 0 auto;
}
.list1 li {
    background: url(../img/Ellipse\ .png) 0 0/8px no-repeat ;
    padding-left: 18px ;
    margin-bottom: 18px ;

}

main h2{
    display: block;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #212B36;
}

.list__1{
    display: inline-block;
    min-width: 315px;
    margin: 0 80px 68px 0;
}

.list2 li {
    background: url(../img/list_2.png) 0 0  no-repeat ;
    padding-left: 30px ;
    margin-bottom: 18px ;
    min-height: 20px;

}
.list2 .list3{
    vertical-align: top;
}

.list3 li {
    background: url(../img/list_3.png) 0 100%  no-repeat ;
    padding-left: 30px ;
    margin-bottom: 18px ;
    min-height: 20px;

}

.list4 li {
    background: url(../img/list_4.png) 0 0  no-repeat ;
    padding-left: 30px ;
    margin-bottom: 18px ;
    min-height: 20px;
}
.list5 li {
    background: url(../img/list_5.png) 0 0  no-repeat ;
    padding-left: 30px ;
    margin-bottom: 18px ;
    min-height: 20px;

}
.list6 li {
    background: url(../img/list_6.png) 0 0  no-repeat ;
    padding-left: 28px ;
    margin-bottom: 18px ;
    min-height: 20px;

}

footer{
    font-family: 'Inter', sans-serif;
    min-height: 560px;
    background: url("..//img/speaker\ 1.png") 75% 50%  no-repeat , linear-gradient(115deg, rgba(48,86,211,0) 64%, rgba(48,86,211,0.10) 64%, rgba(48,86,211,0.10) 67%, rgba(0,0,0,0) 67%, rgba(48,86,211,0.20) 67%, rgba(0,0,0,0) 90%) #F4F7FF ;
}

.texts__subtitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #3056D3;
    margin-bottom: 13px;
}
.texts__title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
}

.texts__text{
    max-width: 570px ;
    display: inline-block;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
}



.texts{
    max-width:1021px;
    margin: 0 auto;
    padding-top: 145px ;
    margin-bottom: 35px;
}

.link  {
    display: block;
   background: #3056D3;
    border-radius: 30px;
    width: 139px;
    height: 44px;
}

.link:hover{
    background-color: #09054d;

}
.link p{

    padding: 10px 30px ;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}


section{
padding: 100px 50px;
}

.link_s{
    display: inline-block;
    background: #2da842;
    border-radius: 30px;
    width: 139px;
    height: 44px;
}

.link_s p{
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}
.link_s:active{
    background-color: #0c5418;
    box-shadow: 5px 5px 15px 0 black;
}


.link_g{
    display: inline-block;
    margin: 0 100px ;
}

.link_g:visited{
    color: #3056D3;
}

.link_g:focus{
    outline: #0c5418;
}

.numbers{
    margin: 40px 0;
}

.numbers__list li:not(:last-child) {
    margin-bottom: 15px;
}

.numbers__list li:first-child{
    color: firebrick;
}
.numbers__list li:nth-child(2){
    font-weight: 700;
}

.words:first-of-type{
    text-align: center;
}

.smile{
    
    background-color: #E6E6E6;
    width: 300px;

}

.smile::after{
    content: "after";
    border-radius: 50%;
    background-color: #0c5418;
}
.smile::before{
    content: "before";
    border-radius: 50%;
    background-color: #b7d61d;
}